<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apmv.chitchat">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.apmv.chitchat.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PrimaryActivity">

        <!-- Custom Meta Data -->

        <meta-data
            android:name="API_SCHEME"
            android:value="https" />
        <meta-data
            android:name="API_DOMAIN"
            android:value="" />

        <activity
            android:name="com.apmv.chitchat.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/PrimaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apmv.chitchat.ui.activity.SignInActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/SecondaryActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />

    </application>

</manifest>
